.header-contain {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

li {
    margin: 0 10px;
    padding: 10px;
}

.main-nav {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 10%;
    align-items: center;
}

.nav-button {
    padding: 0 10px;
    display: flex;
    margin: 0 8px;
    width: 100%;
    height: auto;
    justify-content: center;
    list-style: none;
}

.logo img {
    height: auto;
    width: 70%;
}

.logo {
    justify-content: center;
    align-items: center;
    display: flex;
}

.div-princial {
    position: relative;
    flex-direction: column;
    width: 70%;
    height: 50%;
}
/* noticia importante/urgente */
.noticia-urgente{
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}

.noticia-urgente-img img{
    width: 100%;
    height: auto;
}

.noticia-urgente-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

/*div politica*/

.noticia-politica-img img {
    width: 100%;
    height: auto;
}

.noticia-politica-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.noticia-politica {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}

/* div deporte */

.noticia-deporte-img img {
    width: 100%;
    height: auto;
}

.noticia-deporte-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.noticia-deporte {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}

/* div ciudad */

.noticia-ciudad-img img {
    width: 100%;
    height: auto;
}

.noticia-ciudad-img {
    justify-content: center;
    align-items: center;
    display: flex;
}

.noticia-ciudad {
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    height: auto;
    margin-bottom: 5%;
}

/* div footer */

.footer{
    position: relative;
    flex-direction: column;
    width: 70%;
    height: 50%;
}

.footer-buttons {
    padding: 0 10px;
    display: flex;
    margin: 0 8px;
    width: 100%;
    height: auto;
    justify-content: center;
    list-style: none;
}


