body {
    background-color: rgb(255, 194, 204);
    font-family: Arial;
}

h1 {
    text-align: center;
	font-size: 30px;
    color:blue;
}

h2, .lemonpie {
    font-style: italic;
    font-weight: bold;
    color: green;
}

h3, .ingredientes {
    text-decoration: underline;
	text-transform: uppercase;
    color: white;
}

p {
    color: red;
    text-align: center;
}

.listaingredientes{
    text-align: right;
}

.procedimiento{
    color: blue;
}
