h1, .pagTitulo{
    color: #00235b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200px;
}
h2{
    color:#00235b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
}
.footerPolitica {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.parrafoPrincipal {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

h3, .listaTitulo {
    color: #00235b;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100px;
}

.listaPolitica {
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.fotoTransporte img {
    width: 500px;
    height: auto;
}
li{
    margin: 0 10px;
    padding: 10px;
}
li:hover{
    background-color: rgba(186, 185, 185, 0.499);
}
.navegacion{
    justify-content: center;
    margin: 0 10px;
}
.botonera {
    display: flex;
    margin: 0 10px;
    justify-content: center;
    list-style: none;
}
.header {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
}
.logo img{/* .logo img es para poder cambir el tamaño del logo */
    width: 300px;
    height: auto;
}

.logo {
    text-align: center;
}